.jumbotron{
    background-image: url("https://www.eff.org/files/Googlebooks-1d.png");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position-x: right;
    background-color: azure;
  
}
